{% extends "layout.html" %}
{% block body %}
<script>
  $(document).ready( function () {
    $('#ExpTable').DataTable({
      searching: false,
      ordering:  false
    }
    );
  } );
</script>

<table id="ExpTable" class="display">
  <thead>
      <tr>
          <th>Project</th>
          <th>Branch</th>
          <th>Last Deploy</th>
          <th>Owner</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        {% for ns in namespaces %}
        <td>{{ ns.name }}</td>
        <td>{{ ns.git_branch }}</td>
        <td>{{ ns.last_deployment_timestamp.strftime('%B %d, %Y %I:%M:%S') }}</td>
        <td>{{ ns.git_user }}</td>
        {% endfor %}
      </tr>
  </tbody>
</table>


{% endblock %}